.container{
    background-color: red;
    height: 50px;
    width: 100px;
    transition: width 1s ease-in-out 0s;
}

.container:hover{
    width:300px;
}

.text {
    color: white;
    text-align: center;
}
